:host {
    background-color: rgba(31, 17, 161, 0.4);
    width: 100%;
    height: 7vh;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50vw;
    font-family: "Poppins", sans-serif;
    color: black;
}

.colordesign {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    outline: none; 
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    height: 50%;
    width: 4vw;
    color: black;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

select:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

select:disabled {
    cursor: not-allowed;
}

button:hover {
    cursor: pointer;
}